{% extends 'base.html' %}

{% block title %}
 <title>Добавление билетов</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Добавление билетов</h1>
    <form method="post" class="needs-validation" novalidate>

    <div class="form-group">
        <label for="id_seans">Выберите сеанс</label>
        <select class="form-control" name="id_seans" id="id_seans" required>
            {% for i in seans %}
            <option value="{{i[0]}}">{{i}}</option>
            {% endfor %}
        </select>
    </div>
<br>
<button class="btn btn-primary" type="submit"> Добавить билеты на сеанс </button>
    </form>

</div>
<script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock %}