{% extends 'base.html' %}

{% block title %}
 <title>Скидки и акции</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Скидки и акции</h1>
    <p> Каждую неделю мы обновляем сикдки! Успейте купить по самой выгодной цене!</p>
    <div class="row">
        <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="https://s3.kinoteatr.ru/upload/a1/00/00/00/00/MENU_cola_712x300.png" alt="Card image cap">
                <div class="card-body">
                    <ul class="list-counter-circle mt-3 mb-4">
                        <li>Купи напиток в коллекционном стакане с игрушкой выгодно!</li>
                        <li>Коллекционный стакан – отличный повод купить напиток себе и другу. Собирайся в кино и заказывай любимый напиток в прочном пластиковом стакане с героями любимых фильмов.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="https://s3.kinoteatr.ru/upload/a1/00/00/00/00/SB_spasibo_712300.jpg" alt="Card image cap">
                <div class="card-body">
                    <ul class="list-counter-circle mt-3 mb-4">
                        <li>Бонусы «СберСпасибо» за билеты!</li>
                        <li>Начисление бонусов осуществляется при покупке билетов на сайте кинотатра «IceMovie».</li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
  </div>
<!--       </div>-->
{% endblock %}

