{% extends 'base.html' %}

{% block title %}
 <title>Пользовательское соглашение</title>
{% endblock %}

{% block body %}
<div class="container">
    <h4 class="card-title text-dark text-center">Правила работы кинозалов кинотеатра IceMovie</h4> <br>
    <p> Документ вступил в силу 01 марта 2022 </p>
    <p>1.ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ </p>
    <p>1.1. Компания – АО «IceMovie», ООО «РСМ», демонстратор фильмов, основным направлением деятельности которого является показ фильмов в кинозалах кинотеатра.</p>
    <p>1.2 Гость – посетитель Кинотеатра / пользователь Сайта, имеющий намерение приобрести реализуемые в Кинотеатре Услуги для личных, домашних, семейных и иных нужд, не связанных с осуществлением предпринимательской деятельности.</p>
    <p>1.3 Билет – документ на бланке строгой отчетности, приравненный к кассовому чеку, сформированный в электронной форме и (или) отпечатанный с применением автоматизированной системы для бланков строгой отчетности в момент расчета между пользователем, содержащий все необходимые реквизиты и сведения о расчете, подтверждающий факт его осуществления и соответствующий требованиям законодательства Российской Федерации о применении контрольно-кассовой техники. Билет удостоверяет принадлежащее владельцу Билета (Гостю) право требования оказания ему Кинотеатром услуги по киновидеообслуживанию, независимо от участия в его реализации посредников (Билетных операторов). В рамках настоящих Правил под «Билетами» понимаются Кинобилеты и Электронные билеты.</p>
    <p>1.4 Электронный билет — приобретенный дистанционным способом с использованием сети «Интернет» документ, составленный в электронно-цифровой форме и удостоверяющий право первого предъявившего его лица на посещение указанного в нем киносеанса по предъявлении указанного документа (без обмена на Кинобилет).</p>
    <p>2. ОБЩИЕ ПОЛОЖЕНИЯ </p>
    <p>2.1. Настоящие Правила разработаны в соответствии с Правилами оказания услуг по показу фильмов в кинозалах и связанных с таким показом услуг, утвержденными Постановлением Правительства Российской Федерации от 16.08.2021г. № 1338; Законом Российской Федерации от 07.02.1992 № 2300-1(в действующей редакции) «О защите прав потребителей»; Законом Российской Федерации от 09.10.1992 г. № 3612-1( в действующей редакции) «Основы законодательства Российской Федерации о культуре», Правилами оказания услуг общественного питания, утвержденными Постановлением Правительства РФ от 21.09.2020 N 1515, иными нормативно-правовыми актами Российской Федерации.</p>
    <p>2.2. Правила определяют порядок работы кинозалов Компании и оказания Услуг и регулируют отношения между Компанией, оказывающей Услуги, и Гостями.</p>
    <p>3. ПОРЯДОК ОКАЗАНИЯ УСЛУГ </p>
    <p>3.1.1. Лицо, обращающееся к Компании за заключением договора на оказание услуг по показу Кинофильма в кинозале и приобретением услуг по показу Кинофильма в кинозале, должно обладать правоспособностью и дееспособностью – в объеме, необходимом для заключения подобных договоров согласно действующему законодательству Российской Федерации. Принятие решения о заключении договора на оказание услуг по показу Кинофильма в кинозале и/или о предоставлении услуг по показу Кинофильма в кинозале в отношении лица, обратившегося к Компании, осуществляется Компанией с учетом возраста указанного лица и возрастного ограничения Кинофильма, установленного в соответствии с положениями действующих нормативно-правовых актов Российской Федерации.</p>
    <p>3.1.2. Договор на оказание услуг по показу Кинофильма в кинозале между Компаний и Гостем считается заключенным с момента продажи Гостю Билета. В Билете должны быть указаны: Серия и номер билета или уникальный номер билета; Сведения о демонстраторе фильма; Название кинотеатра, адрес кинотеатра; Сведения о показе (название фильма, название сеанса (если отличается от названия фильма), формат фильма, номер прокатного удостоверения, знак информационной продукции, номер или название зала, дата сеанса, время сеанса, номер ряда, номер места, цена билета, информация о скидке (при наличии).</p>
    <p>3.1.3. Продажа Билетов осуществляется как в Кинотеатре, так и дистанционным способом с использованием сети «Интернет».</p>
    <p>3.1.4. Приобретая Билет, Гость соглашается с настоящими Правилами.</p>
    <p>3.1.5.Расчеты между Гостями и Компанией осуществляются в валюте РФ (рублях) в наличной и безналичной форме:</p>
    <ul class="list-counter-circle">
        <li> кассах Кинотеатров (наличная и безналичная форма расчетов);</li>
        <li>в терминалах самообслуживания (только безналичная форма расчетов);</li>
        <li>на Сайте (только безналичная форма расчетов).</li>
    </ul>
     <p>4. ПРАВА И ОБЯЗАННОСТИ ГОСТЕЙ</p>
     <p>4.1. Гости обязаны: </p>
     <p>4.1.1. При посещении Кинотеатров соблюдать чистоту, общественный порядок и правила противопожарной безопасности, бережно относиться к имуществу Кинотеатров.</p>
     <p>4.1.2. Не загромождать проходы в фойе и в кинозалах Кинотеатров.</p>
     <p>4.1.3. Занимать места в Кинозале, указанные в Билете. </p>
     <p>4.1.4. Сохранять Билет на киносеанс до конца сеанса.</p>
     <p>4.1.5. Соблюдать настоящие Правила, общественный порядок.</p>
</div>
{% endblock %}